@media (max-width: 767px){
body {padding: 0;}}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1442121861_7505622.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1442121861_7505622.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1442121861_7505622.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1442121861_7505622.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1442121861_7505622.svg#iconfont') format('svg'); /* iOS 4.1- */
}
body{
	background-color: #fff;
}
*{
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;}
a:hover,a:active,a:focus{text-decoration: none;}
.row{margin: 0;}
.iconfont{font-family: "iconfont";font-style:normal;}
li{list-style: none;}
/*nav*/
.navbar{
	height: 232px;
	box-shadow: none;
	margin: 0;}	
.top-nav .mask-0 {
	-webkit-filter: blur(5px);
	filter: blur(5px);}
.top-nav .mask-0, .top-nav .mask-1{
	height: 42px;
	width: 100%;
	position: absolute;
}
.top-nav .mask-1 {
	background-color: rgba(255,255,255,.5);
}
.navbar .nav-container{
	max-width: 1170px;
	margin: auto;
}
.navbar .nav-container>div{width:1170px;position: absolute;}
.navbar .nav-container>div>.weather>li{
	font-size: 1.1em;
	margin-right: 1em;
	margin-top: .6em;
}
.navbar .nav-container>div>ul .offline>ul>li {    
	height: 22px;
    width: 47px;
    padding: 1em .8em;
    letter-spacing: 1px;
    border-radius: 0 0 7px 7px;
    background-color: #FF8186;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);

}
.navbar .nav-container>div>ul .offline>ul>li:hover{
	background-color: #f98589;
}
/*top*/
.navbar .top-nav .container>*{
	margin-right: 10px;
}
.navbar .top-nav{
	width: 100%;
	height: 42px;
	min-width: 1170px;
	position: absolute;
	box-shadow: 0 2px 2px rgba(0,0,0,.7);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.7);
	background-color: rgba(255,255,255,0.5);
}
.navbar .top-nav .img,.navbar .top-nav ul,.navbar .top-nav ul li{
	float: left;
	color: #000;
	font-weight: 400;
}
/*nav*/
.navbarInner, .top-nav .mask-0 {
	background-image: url(../images/head.jpg);
	background-size: cover;
}
.navbarInner{
    padding-top: 42px;
	height: 125px;}
.navbarInner img{height: 70px;}
.navbarInner .nav-container{
	width: 1170px;
	min-width: 1170px;
	margin: auto;
}
.navbar .navbarInner form{
	background-color: rgba(255,255,255,0.4);
	margin-top: 3em;    
	border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}
.navbar .navbarInner form:hover{
	background-color: #fff;
}
.navbar .navbarInner form input{
	padding: 8px;
}
.navbar .navbarInner form input,.navbar .navbarInner form button{
	background-color: initial;
	border: none;
}
.navbar .navbarInner form button{font-size: 2em;}
nav#main-menu {
	width: 1170px;
	margin: 0 auto;
}
nav#main-menu ul>li>a{
	padding: 1.5em 1.7em 0 0;
	color: #000;
	font-size: 1.1em;
	font-weight: 500;
}
nav#main-menu ul>li>a:hover{
	background: none;
	color: #00a1d6;
}
/*login*/
.pull-right>ul>li{
	float: left;
	margin: 10px 15px 0 0;
	
}
.offline .pull-right li a{color: #fff;}
/*search*/
.form-inline{margin: 0;}
.form-inline .btn{margin: 0;}
/*slide*/
.sy-box{
	height: 350px;
	width: 730px;
	float: left;
}
.caption-wraper{
	top: 310px;
	left: 0;
	width: 100%;
}
.caption-wraper .caption{
	left: 0;
	height: 40px;
	padding: 0.6em 1em;
	font-size: 18px;
	border-radius: 0;
	-wekit-border-radius: 0;
}
.sy-pager{
	margin: 0;
	z-index: 3;
	left: 45%;
	position: absolute;
	width: 20px;
}
.sy-pager li{
}
.notice{
	width: 345px;
	float: right;
	margin-left: 2em;
	height: 320px;
}
.notice>ul>li>a{
	float: left;
	margin-right: 1em;
}
/*container*/
.container{
	min-width: 1170px;
}
.container *{border-radius: 4px;}
.container .contain-box{
	display: table;
	width: 100%;
	margin-bottom: 3.5em;
}
.container .contain-box>div{float: left}
.container .contain-box>div>a{
	font-size: 1.4em;
    margin-right: 0.4em;
    float: left;
    padding: .1em .5em;
    line-height: 1.7em;
    background-color: #59A1DE;
    position: absolute;
    color: #fff;
}
.container .contain-box>div>a:before {
    content: '';
    display: table;
    height: 0.62em;
    width: 50%;
    left: 0;
    position: absolute;
    bottom: -.6em;
    border-right: 1px solid #59A1DE;
    background-color: #FFFFFF;
    z-index: 1;
}
.container .contain-box>div>hr{
	position: relative;
	top: 2em;
	border-top: 1px solid #59A1DE;
	margin-bottom: 4.5em;
}
.container .contain-box>div>hr:after {
    content: '';
    display: table;
    width: 10px;
    height: 10px;
    background-color: #94F14E;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -5px;
}
.container .listbar, .navBox .imgNav{
	width: 32.3%;
	height: 300px;
	float: left;
}
.container .listbar a{
	color: rgba(78,78,78,0.7);
	font-size: 18px;
	font-weight: 600;
}
.container .listbar a:hover{
	color: rgba(78,78,78,0.4);
}
.container .listbar ul li{
	margin-top: 25px;
	list-style: inherit;
}
.navBox{
	height:240px;
	margin-bottom: 50px;
	overflow: hidden;}
.navBox .imgNav{
	margin-right: 10px;
}
.navBox .imgNav img{
	width: 100%;
}
.contain-box .recruit{width: 100%;}
.contain-box .news{width: 60%;}
.contain-box .org{width: 35%;margin-left: 3em;}
/*page*/
.pagination{text-align: center;}
.pager li>span{
	color: #fff;
	border-radius: 15px;
	background-color: #b70000;
	padding: 2px 10px;
}
.pager li>a{
	padding: 2px 10px;
	color: #b70000;
	background-color: transparent;
}
.pager li>a:hover, .pager li>span:hover{
	border-radius: 15px;
	background-color: #b70000;
	padding: 2px 10px;
}
.pager input{
	margin: 0 5px;
	height: 10px;
	width: 20px;
	border-radius: 3px;
}

/*list*/
.list-container{
	display: table;
	width: 100%;
}
.post-box{
	width: 24%;
	height: 242px;
	float: left;
	margin: 10px 10px 0 0;
	overflow: hidden;
}
.post-box .tc-gridbox{position: relative;}
.post-box .header{
	width: 100%;
	height: 240px;
	overflow: hidden;
	position: absolute;
}

/*iframe*/
iframe{
	width: 100%;
	height: 700px;
}
#footer{
	background-color: #ddd;
	padding: 1.2em;
	}