
/*new*/
hr{border-top: 1px solid #f2f2f5;}
.new-container{
	padding-top: 15px;}
.new-container .span8{
	width: 690px;
	margin-left: 0;
}
.new-box{
	border-top: 3px solid #fff;
	margin-bottom: 1em;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0,0,0,.2)
}
.new-box:hover{
	border-top: 3px solid #8ea8e1;
}
.new-box hr{margin: 8px 0;}
.new-box-up{padding: 1.2em 1em;}
.new-box a{color: #444;}
.new-box .new-face{
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 50%;
	overflow: hidden;
}
.new-box  a{color: #444;}
.new-box  a:hover{
	text-decoration: none;
	color: #00a1d6;
}
.new-box .new-detail{margin-left: 60px;}
.new-box .new-detail div{margin-bottom: 5px;}
.new-box .new-detail .new-poster a{font-weight: 600;}
.new-box .new-detail .new-name a{font-size: 17px;}
.new-box .new-detail .new-text img{max-height: 60px;}
.new-box .new-detail .pull-right{
	width: 40%;
	height: 40px;
}
.new-box .new-detail ul li{
	width: 49%;
	line-height: 2;
	float: left;
	text-align: center;
	border-right: 1px solid #ccc;
}
.new-box .new-feet span{padding: .3em .6em;border: 1px solid #fff}
.new-box .new-feet span:hover{border: solid 1px #ddd;}
div.siderbar-notice>a{	
    font-size: 1.3em;
    color: #000;
}
div.siderbar-notice>ul{    
	border-top: 2px solid #5992CB;
    border-radius: 0;
    margin: .5em 0;
    padding-top: 1em;}